body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
}
header {
  width: 100%;
  padding: 0px;
}

.menu {
  display: table;
  background-color:rgb(0, 53, 176);
  width: 100%;
  color: white;
  height: 80px;
}

.logo {
  font-family:Roboto, Arial, sans-serif;
  font-size:24px;
  font-weight:400;
  display: table-cell;
  vertical-align: middle;
  padding-left: 40px;
}

.menu ul {
  display: table-cell;
  list-style: none;
  vertical-align: middle;
}

.menu li {
  color: white;
  float: right;
  font-family:Roboto, Arial, sans-serif;
  font-size:16px;
  font-weight:600;
  margin-right: 40px;
  margin-left: 0px;
}

.burger {
  padding-top: 6px;
  vertical-align: middle;
  display: none;
  margin-right: -20px;
}

.burger span {
  display: block;
  margin-bottom: 6px;
  margin-right: 0px;
  height: 3px;
  width: 28px;
  background-color: white;
  vertical-align: middle;
}

@media screen and (max-width: 980px) {
  li a {
    display: none;
  }
  .logo {
    display: none;
  }
  .burger {
    display: table-cell;
  }
  .menu {
  height: 64px;
  background-color: black;
}
}

@media screen and (max-width: 640px) {
    .menu {
  height: 60px;
}
  }

@media screen and (max-width: 1200px) {
.menu li {
margin-right: 20px;
  margin-left: 20px;
}
.logo {
  padding-left: 20px;
}
}

/*-------------------------------------------------------------------------------*/

.video-card {
  display: block;
  position:relative;
  height: 1058px;
}

.video-bg {
  display: block;
  overflow: hidden;
  
}
.video-bg video {

}
.card {
  display: block;
  background-image: -webkit-linear-gradient(top, rgba(0,70,209,0.70), rgba(152,0,186,0.70));
  height: 1058px;
  color: white;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
}

h1 {
  text-align: center;
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 600;
  font-size: 68px;
  margin: 0px;
  padding-bottom: 20px;
  padding-top: 440px;
}
h3 {
  text-align: center;
  font-size:22px;
  font-weight:400;
  margin: 0px;
}

.arrow {
  position: absolute;
  top: 1000px;
  left:0;
  right:0;
  bottom:0;
}
.arrow svg {
  padding: 0px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}
.arrow polyline {
  margin: 0;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 14px;
  }
  }

/*-------------------------------------------------------------------------------*/
.b1 {
  text-align: center;
  display: block;
}
.avatar {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 107px;
  padding-bottom: 89px;
}

.b1 h2 {
  display: block;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.23;
  text-align: center;
  margin-bottom: 40px;
}

.b1 div {
  max-width: 100px;
  width: 100%;
  height: 3px;
  background-color: #1f5bff;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.b1 p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.55;
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 300;
  white-space: pre-wrap;
}

.b1 .button {
  margin-top: 60px;
  text-align: center;
  max-width: 242px;
  padding-top: 19px;
  width: 242px;
  height: 35px;
  display: inline-block;
  font-family: 'Roboto',Arial,sans-serif;
  font-size: 16px;
  vertical-align: middle;
  font-weight: 700;
  background-color: #1f5bff;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}